[2019-05-13 15:24] michib opened #1 "Update twofactor state for user on device add/remove"

[2019-05-13 15:27] #1 closed

[2019-05-19 13:36] michib opened #2 "Enable IDeactivatableByAdmin"

[2019-05-19 13:52] #2 closed

[2019-05-20 16:40] michib opened #3 "License and Credits as file headers"
The file headers needs to contain the appropriate license and credits

[2019-05-20 16:40] michib opened #4 "I10n is needed"
Not every string is i10n translated. This needs to be changed

[2019-05-20 16:41] michib opened #5 "Unit and Integration Tests"
The title says it all

[2019-05-20 16:42] michib opened #6 "twofactor_u2f compatibility"
Add compatibility to twofactor_u2f keys

[2019-05-20 16:43] michib opened #7 "Setup CI"

[2019-05-20 16:44] michib opened #8 "Obtain real id"
Currently no rp id is set. This should be changed and the real domain should be obtained and set as id

[2019-05-20 16:45] michib opened #9 "Document Installation"
Document that bcmath and gmp extensions for php are needed. The normal nextcloud docker image does not have these extensions included

[2019-05-20 16:46] michib opened #10 "User Documentation"
Some user docs with screenshots would be really nice

[2019-05-20 17:30] #4 closed

[2019-05-20 19:49] michib opened #11 "Handle cancellation of registration process"
The registration process just hangs, if the registration gets cancelled

[2019-05-20 19:50] michib commented on #8
The id can be obtained by calling IRequest getServerHost(). But the port number has to be stripped

[2019-05-20 20:01] #8 closed

[2019-07-02 18:17] #3 closed

[2019-07-02 18:18] michib commented on #9
Only gmp was needed. See commit 54f1c81cf

[2019-07-02 18:18] #9 closed

[2019-07-06 11:38] #11 closed

[2019-07-06 11:50] michib opened #14 "composer.json name deprecation warning"
Deprecation warning: Your package name Twofactor Webauthn is invalid, it should have a vendor name, a forward slash, and a package name. The vendor and package name can be words separated by -, . or _. The complete name should match "[a-z0-9]([_.-]?[a-z0-9]+)*/[a-z0-9]([_.-]?[a-z0-9]+)*". Make sure you fix this as Composer 2.0 will error.

[2019-07-14 16:04] michib opened #15 "enter should register name"
Upon device registration, hitting the enter button should save the entered name

[2019-07-14 17:07] #15 closed

[2019-08-14 13:28] JediWed opened #16 "Stucks on "Adding your device...""
Tried with YubiKey 5C.
It stucks forever on "Adding your device..."

[code]

[2019-08-14 13:38] michib commented on #16
Yay, feedback! 😃
Thank you so much for trying it out.

@jediweb Can you have a look in your server logs what the 500 error is about? That would be really helpful.

[2019-08-14 13:54] JediWed commented on #16
Unfortunately there was no error log produced by nginx but I've found this in nextcloud log. I have removed IDs, payloads, IPs, etc.
I think the problem is:
"Call to undefined function CBOR\\gmp_intval()"

[code]

[2019-08-14 14:04] michib commented on #16
Yeah, that should be the problem. You need to enable the gmp extension for php.

If you use a docker instance, the readme has an example how to do this.

[2019-08-14 14:10] JediWed commented on #16
Great job. This worked :-)
Thank you very much!

[2019-08-14 14:10] #16 closed

[2019-08-14 14:19] michib commented on #16
@JediWed Glad to hear. Many thanks for your feedback. Did you try it on a docker instance or another kind of setup? If it was another kind of setup, I would appreciate if you can tell me your necessary steps to document them 🙂

I should implement a message with a hint for gmp for the users though. Thanks for this input.

[2019-08-14 14:21] michib opened #17 "User feedback for missing gmp extension"
If the gmp extension is missing (see error log from #16), users should get a hint about this

[2019-08-14 16:14] JediWed commented on #16
Sure, here you go:

I have installed everything manually:

Ubuntu 18.04.3 LTS
nginx 1.14.0
mariadb
php7.2-fpm (including all necessary plugins)

Nextcloud installed via webinstaller.
Plugin installed via Nextcloud Market.
Do you need further information?

[2019-08-19 11:33] JSoko commented on #17
On Ubuntu you just have to run
[code]

Works fine, but only as 2nd Factor and not as singlesignon webauthn on Nextcloud 16.0.4.1

Linux 4.15.0-58-generic #64-Ubuntu SMP Tue Aug 6 11:12:41 UTC 2019 x86_64
Apache/2.4.29 (Ubuntu) (apache2handler)
mysql 10.2.16
php 7.2.19-0ubuntu0.18.04.2
Modules loaded: Core, date, libxml, openssl, pcre, zlib, filter, hash, Reflection, SPL, sodium, session, standard,

[2019-08-19 12:10] michib commented on #17
Thank you the installation information, it's highly appreciated.

Yes it only works as second factor, that's intended. To be used for passwordless authentication, there is more work on the core of nextcloud necessary

[2019-09-03 09:47] eehmke opened #18 "Link to help forum does not work"
The link on
https://apps.nextcloud.com/apps/twofactor_webauthn
leading to the help forum
https://help.nextcloud.com/c/apps/twofactor-webauthn
Does not work.

[2019-09-13 14:36] kaceel opened #19 "SQL Error during app activation: 1071 Specified key was too long; max key length is 3072 bytes"
Upon trying to activate this app I get an SQL error:

An exception occurred while executing 'CREATE TABLE oc_twofactor_webauthn_registrations (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(64) DEFAULT 'default' NOT NULL, public_key_credential_id VARCHAR(4000) NOT NULL, type VARCHAR(255) NOT NULL, transports VARCHAR(255) NOT NULL, attestation_type VARCHAR(255) NOT NULL, trust_path VARCHAR(255) NOT N

[2019-09-17 18:37] do1mps commented on #19
I got the same error while first-Installing this Plugin.
Nextcloud 16.0.4
Update-Channel Stable
Error occures while installing or activating.
After Error the Plugin seems to be available, but activating is impossible too.

An exception occurred while executing 'CREATE TABLE oc_twofactor_webauthn_registrations (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(64) DEFAULT 'default' NOT NULL, public_key_

[2019-09-17 18:42] michib commented on #19
Thanks for the feedback. I will look into it on the weekend.

[2019-09-17 18:43] michib commented on #18
Oh i didn't know there is even a link to a forum, must be a default value. Thanks for pointing this out

[2019-09-17 18:56] do1mps commented on #19
Thanks a lot for that!

[2019-09-24 19:28] Spomky commented on #6
Hi @michib,

From my POV, this is not reallly needed. The U2F protocol is deprecated since the webauthn standard is approved. Moreover all FIDO U2F keys can be used in a FIDO2 context.

[2019-09-25 08:17] army1349 opened #21 "Windows Hello Webauthn log in does not work"
You can add webauthn device using Windows Hello Webauthn using fingerprint just fine.
But when you try to log in, validation fails and it keeps asking for fingerprint.

[2019-09-27 09:58] stuehmer opened #22 "SQL DriverException: Character not in repertoire, invalid byte sequence for encoding"
When adding a YubiKey device I get no response from the UI: the spinner keeps spinning after entering a name for the new device.

The problem seems to be the value for column `aaguid` in table `oc_twofactor_webauthn_registrations` which cannot be inserted successfully into the database.

My setup:
- The database is Postgres 11.5 on Debian.
- Nextcloud 16.0.4
- Two-Factor Webauthn 0.0.1 installed v

[2019-10-04 18:02] #19 closed

[2019-10-04 18:03] michib commented on #19
I tested it locally with a docker-compose setup with nextcloud 16.0.4 and mysql 5.7.27 and was able to reproduce the issue and also was able to activate the plugin after the fix

[2019-10-04 19:18] michib commented on #21
Is your setup nextcloud ^16.0 and mysql? I can reproduce the issue on this setup with a yubikey. I does not have a possibility to test windows hello

[2019-10-04 19:25] army1349 commented on #21
It is Nextcloud 16 (17 now and same issue), PHP 7.3, MariaDB 10.3

[2019-10-05 06:50] #14 closed

[2020-02-21 11:49] SuperSandro2000 opened #24 "Official Dockerimage contains php-gmp"
The official Dockerimage now contains gmp. See https://github.com/nextcloud/docker/blob/884d8c21a5fe1ddfd40897859e9d6b79ed48ac3f/18.0/apache/Dockerfile#L58 and https://github.com/nextcloud/docker/commit/7eb00b62aab4e123eec0b0a2d213396fb87c97c8

[2020-02-23 17:00] michib commented on #24
Oh great, thanks for the notification

[2020-02-23 19:54] michib commented on #22
I uploaded Version 0.1.1-alpha.1. Can you check if the problem still exists with this version?

[2020-02-23 19:55] michib commented on #19
Sorry for the incredible long delay. @do1mps I uploaded 0.1.1-alpha.1 which should fix your isse

[2020-02-23 20:39] michib commented on #24
I removed the section for gmp from the readme

[2020-02-23 20:39] #24 closed

[2020-03-01 20:17] stuehmer commented on #22
Unfortunately the problem still exists. Now with Nextcloud 18.0.1 and Two-Factor Webauthn 0.1.2

[2020-03-02 15:37] dr-br opened #26 "Implement possibility to activate/deactivate webauthn devices"
## THANKS
**First of all: Everything works smoothly, very nice app!**

## Question
This issue is rather a documentation request. Please move it appropriately or close it, if it does not belong here.

**My question:**
How to add different Webauthn Devices in a straight forward manner?

**Explanation:**
I have a Android phone, I login to my nextcloud instance, I activate the app, I configure the pho

[2020-03-02 16:22] michib commented on #26
Hi,

thanks for your feedback, it's highly appreciated.

Currently it's unfortunately not possible to add but not activate a WebAuthn device. The current workflow would be like you describe it. I'm using the same Yubikey to authenticate with different android devices and then add these devices as another WebAuthn device.

But i think this would be a great enhancement to this 2FA Provider, if it wo

[2020-03-02 16:26] michib commented on #22
Strange, i tested this setup in a docker environment with the versions of postgres and nextcloud you mentioned and it worked. Are you still using postgres 11.5?

[2020-03-08 15:20] #26 closed

[2020-03-08 15:26] michib commented on #26
@dr-br: I uploaded a new nightly release with the requested feature. Would you be so kind to test it?

[2020-03-08 15:28] michib commented on #22
Did you delete the table in the database manually? I didn't create a new migration (my bad) after the first nightly releases.
So could you deactivate the provider, delete the table (oc_twofactor_webauthn_registrations) and afterwards activate the provider again?

[2020-03-08 15:32] michib opened #28 "Update to webauthn-lib 3"

[2020-03-09 17:27] dr-br commented on #26
Thank you for the feature! I'm currently short of time, I will test it, as soon as I can.

[2020-03-09 19:47] #28 closed

[2020-03-10 10:30] stuehmer commented on #22
Now I did drop the table and re-activates the app. But the table is not being recreated. Is there a command to trigger it manually or do you have the create statement for Postgres for me?

[2020-03-10 11:35] stuehmer commented on #22
My original issue is solved! Thank you for your support!

I will create a separate bug for the field length.

[2020-03-10 11:35] #22 closed

[2020-03-10 11:40] stuehmer opened #30 "Database field 'credential_public_key' is too short for YubiKey 5C (and others?)"
When registering a WebAuthn Device I get an error `String data, right truncated: 7 ERROR: value too long for type character varying(255)` My `credential_public_key` from my YubiKey 5C actually needs 378 characters which is more than 255.

*Workaround:* Issuing `alter table oc_twofactor_webauthn_registrations alter credential_public_key type character varying(2500);` fixes the problem and allows me

[2020-03-10 19:27] michib commented on #22
Thanks for your feedback, i'm glad to hear

[2020-03-10 19:28] michib commented on #30
Interesting, my yubikey 5 nfc worked. But yes, 255 is way to small, i will increase the size to 2000. In some fast tests the biggest public key i could produce was about 750 characters long

[2020-03-10 19:30] #30 closed

[2020-03-10 19:34] michib commented on #30
I uploaded v0.2.0-alpha.1 to the appstore. It migrates the column to a length of 2000 characters.
Thanks again for your feedback, it's highly appreciated.

[2020-03-14 11:38] DocSnyd3r opened #31 "Can't add Mac with Chrome as device"
After I click add the fingerprint is read and it fails to display as new device (spinner doesn't stop).
Version 18.0.2 with MariaDB.

It works on Android.

This is the Docker output:
nextcloud-app | 172.19.0.2 - - [14/Mar/2020:11:45:25 +0000] "POST /apps/twofactor_webauthn/settings/startregister HTTP/1.1" 200 1099 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like

[2020-03-15 08:31] michib commented on #31
Hi,

can you tell me  which version of the twofactor_webauthn provider you are using and the version of the mariadb?

[2020-03-15 09:21] DocSnyd3r commented on #31
Hi,

Shure it is:

MariaDB:

Version: '10.4.12-MariaDB-1:10.4.12+maria~bionic'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306  mariadb.org binary distribution,

Plugin:
0.1.2

Post that fails:

`Request URL: https://nextcloud.xxx.xxx/apps/twofactor_webauthn/settings/finishregister
Request Method: POST
Status Code: 500
Remote Address: xxx:443
Referrer Policy: no-referrer
cache-control: no-store

[2020-03-15 09:28] DocSnyd3r commented on #31
This is a new try, same setup exept I use an external USB token instead the internal Mac fingerprint version. This works...

`Request URL: https://nextcloud.xxx.xxx/apps/twofactor_webauthn/settings/finishregister
Request Method: POST
Status Code: 200
Remote Address: xxx:443
Referrer Policy: no-referrer
cache-control: no-cache, no-store, must-revalidate
content-length: 118
content-security-policy:

[2020-03-15 10:50] michib commented on #31
With nextcloud server log i meant what you can see when you are logged in as a admin under settings. Down to the bottom there should be the menu item "Logging"
![image](https://user-images.githubusercontent.com/5346721/76699985-0e1a3880-66b3-11ea-9f2d-2928239f5e3b.png)

But could you try the latest nightly? I can imagine, it's the problem with the to small table column for the public key. This iss

[2020-03-15 11:02] michib commented on #31
I released 0.2.0, so you can easily update via the app store

[2020-03-15 12:13] michib commented on #31
Sorry i had to delete the release, something is wrong with it

[2020-03-15 14:03] DocSnyd3r commented on #31
Hi,

sorry did not see the log would be too easy, seems the db insert you mentioned.

{"reqId":"VywlChLrZMqHDE5JW2hN","level":3,"time":"2020-03-15T09:15:48+00:00","remoteAddr":"185.130.184.98","user":"doc","app":"index","method":"POST","url":"/apps/twofactor_webauthn/settings/finishregister","message":{"Exception":"Doctrine\\DBAL\\Exception\\DriverException","Message":"An exception occurred while

[2020-03-15 19:10] michib opened #33 "active is not parsed as boolean"

[2020-03-15 20:09] michib commented on #31
Thanks, i think that helps. Apparently the aaguid is in a different encoding on a mac. I will investigate this issue

[2020-03-16 15:48] dcshoes23 commented on #21
I am experiencing the same issue with NC 18.0.2 and twofactor_webauthn: 0.1.2.

It just keeps looping and asking for Windows Hello authorziation

[2020-03-16 16:04] michib commented on #21
Can you both check the nextcloud server log if there is an exception when you try to add windows hello as webauthn device? Unfortunately i cannot test it myself

[2020-03-16 16:30] dcshoes23 commented on #21
I didn't see any errors in the log, I then enabled debug logging and this is all I see:

[2020-03-16 16:44] army1349 commented on #21
Now even if I register device, no device is requested and I can log in with just password.
Active option is checked. Nothing in logs.

[2020-03-16 17:48] michib commented on #21
@army1349 What do you mean with: "Now even if i register device"? The registration is successful?
Cause you are seeing the "active" option i image you are using the 0.2.0-alpha version?
There is a bug that causes the provider not to be active, even if there are active devices. See Issue #33. This bug is nearly fixed and i hope i can provide a new version this evening

[2020-03-16 17:50] michib commented on #21
Could you send me a dump of the twofactor_webauthn_registrations table of your nextcloud database. It would be really helpful if i could examine the entries

[2020-03-16 18:01] army1349 commented on #21
Yes, registration was successful and I am using version 0.2.0.
I got this version via regular nextcloud app update.

I see, so I will wait for that fix and try it then.
I tried version 0.1.2 in past with same result as @dcshoes23.

[2020-03-16 18:04] dcshoes23 commented on #21
Emailed you the dump

[2020-03-16 18:12] michib commented on #21
Great, thank you both for your feedback. It's really appreciated. I hope i will be able to look into it this week.

[2020-03-16 18:14] michib opened #34 "Upgrade bug from 0.1.2 to 0.2.0: aaguid has to be converted"
till version 0.1.2 there was a 16 char repeating \0 in the aaguid column for empty aaguids. Now its like an uuid and is not compatible anymore.

[2020-03-16 19:34] DocSnyd3r commented on #31
Hi,

I shortened it, I think it would be best to do a length check and in this case replace \x with an empty string. Maybe check for 0x aswell.

I think php hexdec() will do that.

[2020-03-18 19:17] #33 closed

[2020-03-18 19:17] #34 closed

[2020-03-18 19:24] michib commented on #31
@DocSnyd3r can you test if it works with version 0.2.1? i (hopefully) fixed the handling of aaguid in this bugfix release

[2020-03-18 20:35] army1349 commented on #21
Nice work! Version 0.2.1 works for me.

[2020-03-18 20:44] DocSnyd3r commented on #31
Hi,

I downloaded and installed manually. I was able to store the Key now with the internal fingerprint.
But I no longer get asked on login to authenticate with an additional factor, also not on other devices.

[2020-03-19 15:36] michib commented on #31
Oh that's surprising. Is there any exception in the nextcloud log? Or can you check the developer console. Preferably with Chrome, in my experience firefox does not always show a webauthn error (but can also be a mistake on my side, that i'm not seeing the exceptions).

Also can you check with `occ twofactor:status <user_handle>` if webauthn is listed as enabled or disabled provider

[2020-03-19 15:38] michib commented on #21
@army1349 Oh that's great to hear. Also a little bit surprising, i didn't expect the last two bug fixes to solve your problem. But nevertheless, i'm glad it works now for you :-)

@dcshoes23 Can you check if 0.2.1 also works for you?

[2020-03-19 15:45] army1349 commented on #21
Thanks, man.

[2020-03-19 18:52] dcshoes23 commented on #21
I second that everything works fine now with 0.2.1. I did have to remove and re-add my Windows Hello webauthn registration, but after that, all works well. Thanks so much for making this app and for fixing our issues!

[2020-03-20 10:28] fuse314 opened #35 "Invalid uuid exception after upgrade from 0.1.2 to 0.2.1"
The app cannot be enabled again:
- With the app activated, the occ upgrade fails with
[code]
after disabling the app with occ and turning maintenance mode off, I can not enable the app in the web interface with the same exception:
[code]
How can I get the app back in a working state?
Maybe I can clear the existing data from the database?

I am using Nextcloud 17.0.4 within a docker container.

[2020-03-20 10:46] michib commented on #35
Yes, deleting the contents of twofactor_webauthn_registrations would clear this error.

But could you post the contents of the nextcloud server log, regarding the exception which occurred during the update?
And could you send me the sql dump or the content of the aaguid column? That would be great to fix the migration bug

[2020-03-20 10:49] michib commented on #21
Great, thanks four your feedback. It's really highly appreciated to get this provider into a stable state.

So i regard this issue fixed by #34

[2020-03-20 10:49] #21 closed

[2020-03-20 17:04] AdmiralNemo commented on #35
[twofactor_webauthn-error.json.log](https://github.com/michib/nextcloud_twofactor_webauthn/files/4360912/twofactor_webauthn-error.json.log)

I have the same issue.  I've attached the error message from `nextcloud.log`.

None of the records in `oc_twofactor_webauthn_registrations` have a value in the `aaguid` field.

[2020-03-20 17:06] AdmiralNemo commented on #35
I was able to work around this issue by running

[code]

[2020-03-20 17:56] michib commented on #35
oh an empty string is surprising, there should have been a 16 characters long empty string. But thanks for the feedback.
Can you tell me which webauthn devices you are using?

[2020-03-20 17:58] AdmiralNemo commented on #35
I currently have 1 Somu and 2 Solo Tap devices registered.

[2020-03-20 18:08] AdmiralNemo commented on #35
Although I was able to proceed with the upgrade using [the above work-around](https://github.com/michib/nextcloud_twofactor_webauthn/issues/35#issuecomment-601811415), I am not able to actually use any of my WebAuthn devices any more:

[code]

[2020-03-20 18:22] michib commented on #35
Yeah i was already surprised it works with null.
As a Workaround, can you insert '\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0' into the aaguid columns? This should help.
Would you be so kind to test this first, because this would be helpful for my bugfix.
Afterwards, can you test if you can remove and readd one of your devices and check if it is possible to authenticate with this device?

[2020-03-20 18:38] AdmiralNemo commented on #35
I couldn't figure out how to put null bytes in the field, but it turns out that no matter what I put in there, as long as its 16 characters, everything works fine.

[code]

I can also confirm that removing and re-registering my Somu resulted in an empty string for `aaguid` with the latest version of this app.

[2020-03-20 19:02] #35 closed

[2020-03-20 19:10] michib commented on #35
I released 0.2.2 which should handle this issue. Please reopen this issue, if it's not the case.
And great thanks for your effort of testing this provider!

[2020-03-20 23:25] AdmiralNemo commented on #35
After updating to 0.2.2, I still get the `$bytes string should contain 16 characters` error.  I deleted and re-registered my devices, and they have still have empty strings in the `aaguid` column.

[2020-03-21 08:04] michib commented on #35
@AdmiralNemo with empty string for the `aaguid` column, you mean length 0 or is it length 16? Just to be sure.
Could you open a new issue for this case? It would be great, if you could send me the response of the post to <nextcloud-host>/apps/twofactor_webauthn/settings/finishregister. I'm interested on the data field of the body.

[2020-03-21 16:30] AdmiralNemo opened #36 "[BUG] Empty aaguid causes Internal Server Error on login"
**Describe the bug**
After registering a new WebAuthn device, I am now unable to log in using the WebAuthn challenge.  Clicking the _Webauthn Devices_ option on the _Two-factor authentication_ screen returns an Internal Server Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings → Security → Two-Factor Authentication
2. Click _Add Webauthn device_
3. Touch the device, enter

[2020-03-21 16:31] AdmiralNemo commented on #35
I've opened #36 to continue the discussion.

[2020-03-22 11:53] michib commented on #36
I'm looking into it. In the response, there is a valid uuid. As far as i could test it, it should also be converted correctly and written into the database.
It happens with all your devices or do some work? Because you are listing here only the Somu but not the Solo Tap devices.

[2020-03-22 13:29] michib commented on #36
It's an issue with the postgresql db. Null bytes are apparently stripped. i'll have a look into it

[2020-03-22 20:00] michib commented on #36
Ok i hope i got it finally right with the aaguid. I release 0.2.3

[2020-03-23 14:49] AdmiralNemo commented on #36
When I tried to update to 0.2.3, I got this message:

[2020-03-23 19:12] #36 closed

[2020-03-23 19:17] michib commented on #36
Hopefully! i got it right this time. I just tested it with one device -_- This error occurs only with multiple devices

[2020-03-30 19:53] DocSnyd3r commented on #31
Hi,

sorry I had no time but I just tried updating

Update vorbereiten

Log-Level auf "debug" gesetzt

Wartungsmodus eingeschaltet

Reparaturschritt: Repair MySQL collation

Reparaturinformation: All tables already have the correct collation -> nothing to do

Reparaturschritt: Repair SQLite autoincrement

Reparaturschritt: Copy data from accounts table when migrating from ownCloud

Reparaturschrit

[2020-03-31 14:55] michib commented on #31
If you delete the table <prefix>_twofactor_webauthn_registrations you also have to delete the entries from <prefix>_migrations. In my case it would be `delete from oc_migrations where app = 'twofactor_webauthn';`
And sorry for the mess, i really messed up with the aaguid and the following db migration :-(

[2020-03-31 14:56] michib commented on #36
@AdmiralNemo did it work this time?

[2020-04-03 12:50] AdmiralNemo commented on #36
Sorry, I am not sure.  I had completely removed the app and all its data and reinstalled it to get past that issue.  I have successfully upgraded to the latest version, though, and all is working correctly, now.

[2020-04-18 07:02] derritter88 commented on #10
I agree as I tried to install the app to test it but Nextcloud just says

Althought I have installed such a library.

Will play around to find the right one.

[2020-04-18 07:03] derritter88 commented on #17
Thank you sir!

[2020-04-18 07:16] derritter88 opened #37 "[BUG] Cannot register Yubikey 5C"
I have installed the new Webauthn 2FA to test it (currently I am using U2F/TOTP).

As soon as I would like to register my Yubikey I will get an excpetion which can be found at the log:

`

  | RuntimeException: The Metadata Statement for the AAGUID "ee882879-721c-4913-9775-3dfcce97072a" is missing/var/www/cloud/apps/twofactor_webauthn/vendor/web-auth/webauthn-lib/src/AuthenticatorAttestationRespon

[2020-04-18 07:18] derritter88 commented on #37
Okay now in a better, more readable format:

	RuntimeException: The Metadata Statement for the AAGUID "ee882879-721c-4913-9775-3dfcce97072a" is missing

    /var/www/cloud/apps/twofactor_webauthn/vendor/web-auth/webauthn-lib/src/AuthenticatorAttestationResponseValidator.php - line 148:

    Webauthn\AuthenticatorAttestationResponseValidator->checkMetadataStatement(Webauthn\Att ... {})

    /var/ww

[2020-04-20 17:02] michib commented on #37
Hi, thanks for your feedback. But unfortunately you didn't provide the needed information asked by the bug issue template. Would be great, if you could provide this information.
And i think i'm going to need the response data and the table row of the used key. Would be great if you could send these information to me.
Afterwards i can start to investigate this issue.

[2020-04-20 18:31] derritter88 commented on #37
Sorry - I just clicked on issues and created a new one.
The bug report is below:

Describe the bug A clear and concise description of what the bug is.

To Reproduce Steps to reproduce the behavior:

1. Login to Nextcloud with existing 2FA (U2F or TOTP)
2. Click on your user icon and go to settings
3. Go to security
4. Scroll to "Webauthn Devices" and click on the "Add Webauthn device"
5. Enter you

[2020-04-20 18:33] derritter88 commented on #37
Regarding

How do I get those data?

[2020-04-27 18:08] michib commented on #37
Hi, sorry for the delay on my answer, but the weather was just to fine to be on my computer on my spare time ;-)
But to get the response with firefox, you have to open the "Developer Tools" with F12. There is a tab "Network". Open it and type webauthn in the filter bar. This makes it easier to find the request. The important request is "finishregister". I think i will need the "Request Payload" on

[2020-04-27 18:34] derritter88 commented on #37
I see - same here, been riding my bike the last couple of days :-)
Regarding the data.
I have checked with Firefox and I get a 500 Internal Server Error with a POST.
The requested data would be:
`{"name":"Yubikey 5C","data":"{\"id\":\"dz48uhxSJMINtgwizu9vvPf5o13MLrGQhwk1EDxsLRUCOIKYg03yCFzAtvhLLhrKomS7wqKXwiXl3Zb3P_UEew\",\"type\":\"public-key\",\"rawId\":\"dz48uhxSJMINtgwizu9vvPf5o13MLrGQhwk1EDxs

[2020-04-29 19:10] dr-br commented on #26
Works as expected.
Thank you!

[2020-05-02 11:14] michib commented on #37
@derritter88 Could you do me a favor and test on https://webauthn.spomky-labs.com/ if your stick works there?

[2020-05-02 11:26] derritter88 commented on #37
Helli @michib
didn't work as well - website showed me an "An error occurred during the registration process. Please try again later." error.

The console says:
HTTP 401

`id: 8bRcDwItJ456H_a1pHolyjXIiYL1pkv7G0pfbq1DqxJ31hJVtftGR0noh3AlRamlajHW2ZSKafrmgbIbR1_WGtb4nypv5YDuBd8MXqprOn_57rckJ4OICUzonqNuhEGUfHuORkec1e8CJxIf5GSCeGYOfz9UMlNQCTWG_rEidRg`

`rawId: 8bRcDwItJ456H/a1pHolyjXIiYL1pkv7G0pfbq1DqxJ

[2020-05-02 11:31] michib commented on #37
Oh thanks for the fast feedback. Yes this really helps. Unfortunately this means, i probably have to wait for https://github.com/web-auth/webauthn-framework/issues/123 to be resolved.

But if you have even more spare time, you could test on Linux with Firefox, or Win 10 with Chrome etc if it works. Probably yes, but would be really helpful feedback for me.

I will comment in this issue, as soon as

[2020-05-02 12:04] michib commented on #37
Spomky was fast :-D @derritter88 could you try it with this version:
[twofactor_webauthn.tar.gz](https://github.com/michib/nextcloud_twofactor_webauthn/files/4567636/twofactor_webauthn.tar.gz)

[2020-05-02 12:14] derritter88 commented on #37
Okay did it.
Removed the old twofactor_webauthn from Nextcloud/apps folder and placed yours.
Nextcloud asked me for an update which I did.

Result is still the same - it does not work.

[2020-05-02 13:29] derritter88 commented on #37
`data: {"id":"Lox6KuStT8sWQ5wYPTKew_ixW9Dwy9YnLM8fBWoSez2OT0tYSC4nuFpxJI_WJAF9NaF_6APmafCPWRTzDC8nYg","type":"public-key","rawId":"Lox6KuStT8sWQ5wYPTKew/ixW9Dwy9YnLM8fBWoSez2OT0tYSC4nuFpxJI/WJAF9NaF/6APmafCPWRTzDC8nYg==","response":{"clientDataJSON":"eyJjaGFsbGVuZ2UiOiJVWnhKWVctN0FFZlRWRkVaakdPSkR4UDZFME9zdXRyNXp0OXZtLThGTnlVIiwiY2xpZW50RXh0ZW5zaW9ucyI6e30sImhhc2hBbGdvcml0aG0iOiJTSEEtMjU2Iiwib3JpZ

[2020-05-02 13:30] derritter88 commented on #37
Nextcloud log says:
`

Error | index | Assert\InvalidArgumentException: The attestation statement has no key "alg"./var/www/cloud/apps/twofactor_webauthn/vendor/beberlei/assert/lib/Assert/Assertion.php - line 1769: Assert\Assertion::createException(false, "The attesta ... .", 32, null)/var/www/cloud/apps/twofactor_webauthn/vendor/web-auth/webauthn-lib/src/AttestationStatement/AttestationStatement.

[2020-05-02 17:52] derritter88 commented on #37
A useful information:
I tried to register my Yubikey via my Ubuntu 20.04 notebook (Firefox) - it worked without any issues.
Could this be a problem from the Windows 10 side as Windows uses a dedicated mode for handling U2F/FIDO2 requests.
E.g. on Windows I have to enter a PIN to use FIDO2 - on Ubuntu not.

[2020-05-02 17:56] derritter88 commented on #37
Okay, after registration of my Yubikey via Ubuntu the login on Windows 10 works without any issues/errors.
Also within Nextcloud log there is no sign of an issue.

[2020-05-03 07:44] michib commented on #37
Could you just for testing purposes try to register with chrome under win 10? As described in the bug from the webauthn-lib this just happens with edge and firefox, so it would be great if you could confirm this.
I'm going to investigate the new error message

[2020-05-03 17:52] derritter88 commented on #37
I have tested now with current Google chrome - worked also without any issues.

In addition I also tried again with Firefox with deactivated addons - did not work as well.

So the problem lies somewhere within Firefox on Win10.

[2020-05-03 18:03] michib commented on #37
I have the problem that i can't reproduce the issue with my hardware. I tried it myself on win 10 with firefox 75 but it appears because my yubikey 5 nfc is of the first generation (which doesn't support all webauthn features), it does not create a packed attestation, which your yubikey does. So either someone is willing to buy me a new yubikey (which i would surely appreciate :smirk:) or i have t

[2020-05-03 18:06] derritter88 commented on #37
I moved from Yubikey 4 & NEO to 5C to have FIDO2 and also USB-C as my laptop does not have any USB-A ports.

Currently I am using the Twofactor U2F which is also fine for me.

If you need anyone who tests your development - feel free to stick with me :-)

[2020-05-03 18:20] michib commented on #37
The Yubikey 4 also works with FIDO2 as webauthn. I'm testing with both sticks, the yubikey 4 neo and the yubikey 5 nfc.

Every Tester is highly welcome and appreciated :grinning:, so thank you very much for your offer. I'm surely going to ask you for tests as soon as this extension reaches a somewhat stable level. And without people like you who are willing to test it in this early stage, it won't

[2020-05-03 18:22] derritter88 commented on #37
Yeah I know that - I am not well at coding (although I can read sources) but I am happy to act as alpha/beta tester and log my issues at Github or something else :-)

[2020-05-04 22:10] tigernero79 opened #38 "webauthn Fido 2 without password"
from what you understand you have implemented u2f with webauthn standard.  and this is fine for fido keys.  but the possibility of using fido2?  in practice access without a password following the webauthn standard fido2 passwordless?  2fa input and touch as 2fa without putting password will you implement it?

[2020-05-10 19:22] michib commented on #38
Hi,
first of all, the credit for implementing the webauthn protocol goes to https://github.com/web-auth/webauthn-framework and the possibility of nextcloud to hook in a twofactor provider.

What i did was to provide the webauthn-framework as a twofactor provider for nextcloud.
Afaik passwordless or even userless login it is currently not planned by the nextcloud dev team. But for this, you have to

[2020-06-03 16:30] Blacksheep70 opened #39 "[BUG] Using Webauthn limits possibility of using WebDav"
**Describe the bug**
With Two-Factor Webauthn activated it is impossible to sync calendar e.g. into Thunderbird

**To Reproduce**
Activate Two-Factor Webauthn
Access the Nextcloud Calendar through a 3rd Party application usig WebDAV, e.g. Thunderbird
Authentication fails as WebDav seems not to support Webauthn

**Expected behavior**
Using normal authentication (User/Password) method when accessing

[2020-06-03 19:15] karottenbaum commented on #39
You need to use app passwords instead. To create one, scroll all the way down on the "Security" page for this field:
![grafik](https://user-images.githubusercontent.com/6024426/83679253-5aed1b80-a5df-11ea-82c9-d37dd6bd9801.png)

[2020-06-03 19:50] Blacksheep70 commented on #39
Thank you for your help.

Followed your advise but the calendar deactivates then in the application (here Thunderbird). I created an App Password called "Thunderbird" and used the created login user for Thundebird. However, it looks like the WebDAV connect itself is being blocked as the calendar is deactivating before a password is queried.

I also tried to drop the config for the Nextcloud Calend

[2020-06-03 19:57] Blacksheep70 commented on #39
Did further research:

Mounting the WebDAV in Windows works fine using
`net use Z: https://<domain>/nextcloud/remote.php/dav/files/<User>/ /user:<User>`
with the App User &Password created under App-Password

[2020-06-04 07:35] michib commented on #39
@karottenbaum: Thanks for your additional support :-)

@Blacksheep70: I'm not sure if this is an issue of this twofactor provider. Would you be so kind and test if the issue also occurs if you deactivate the webauthn twofactor provider and test it instead with another provider? For example with the totp provider: https://docs.nextcloud.com/server/19/user_manual/user_2fa.html?highlight=totp

[2020-06-04 07:36] #38 closed

[2020-06-04 14:42] Blacksheep70 commented on #39
@michib: I configured TOTP and have exactly the same issue

`

Debug | webdav | OCA\DAV\Connector\Sabre\Exception\PasswordLoginForbidden: /storage/var/www/html/nextcloud/3rdparty/sabre/dav/lib/DAV/Auth/Backend/AbstractBasic.php - line 106: OCA\DAV\Connector\Sabre\Auth->validateUserPass("*** sensiti ... *")/storage/var/www/html/nextcloud/apps/dav/lib/Connector/Sabre/Auth.php - line 254: Sabre\DAV\A

[2020-06-07 12:31] michib commented on #39
Yes it seems you have to file an issue for sabre. But i don't know anything about sabre, so its more like an educated guess.

I'm not sure and i couldn't find it in the documentation. Maybe an app password can only used by one client? There are systems where the app password is registered to a specific client after the first login. So did you try to create a fresh app password for this client?

[2020-06-07 12:31] #39 closed

[2020-06-09 13:54] gergelypolonkai opened #40 "Support NextCloud 19"
**Is your feature request related to a problem? Please describe.**
According to the app store, this addon is untested with NextCloud 19.

**Describe the solution you'd like**
Make it appear as tested so users can install it without stressing about the “Unstressed” word.

**Additional context**
I probably didn’t test every aspect of the app, but it seems working for me under 18.0.6.

[2020-06-11 05:25] s-f-s opened #41 "Add User Verification (pin support) for CTAP2 enabled devices"
It would be great to have support for "User Verification" with FIDO2 (CTAP2 enabled device) using a PIN.

https://www.w3.org/TR/webauthn/#user-verification

[2020-08-06 18:32] tigernero79 opened #43 "[BUG] does not remove webauthn section in security section"
the entry "Authentication without password

  Configure your account for passwordless authentication following the FIDO2 standard.
  No devices configured.

  Add WebAuthn device

  "

is not deleted by deleting or disabling application in nextcloud 19.0.1

![Screenshot_20200806-203113_Chrome](https://user-images.githubusercontent.com/35575744/89568680-f0956900-d823-11ea-992e-c7af036cb06a.jpg)

[2020-08-08 13:59] PatrickJosh commented on #43
This is not a feature of this app but of the Nextcloud 19 server. This app has nothing to do with this.

[2020-08-08 15:57] tigernero79 commented on #43
Ah ok sorry

[2020-08-08 15:57] #43 closed

[2020-08-14 07:01] umglurf commented on #40
Seems this is now build in with the password less function in Nexcloud 19: https://nextcloud.com/blog/nextcloud-hub-brings-productivity-to-home-office/

[2020-08-14 07:19] gergelypolonkai commented on #40
@umglurf no, they are not the same. Passwordless function means you don’t need your password. 2nd factor means you need your password **and** a 2nd factor (in this case, a WebAuthn device, like a Nitrokey or YubiKey).

[2020-08-14 08:33] umglurf commented on #40
That's right, was a bit quick there.

[2020-08-20 08:27] michib commented on #40
It should be the exactly same technique, but it seems not to be a 2fa. i will look into it tomorrow

[2020-08-27 20:07] beerisgood commented on #40
Any status update?

[2020-09-01 19:18] #40 closed

[2020-09-01 19:24] michib commented on #40
Sorry for the late reply, to busy after my holidays ;-)

I finally tested it for NC19 and found no issues for my setup.

The passwordless function is technically the same request to a webauthn device as for this 2FA provider. But i could not find a possibility to use the passwordless feature as 2FA provider.

[2020-09-06 19:40] manolo4711 opened #44 "Two-Factor Webauthn login not possible with iOS14"
No Webauthn login possbile with my iPad running on iOs 14 Public beta 7

I can register my iPad with iOS14 but if I want to login I got the safari message, please put in your security device.

Github 2 factor Webauthn works with Safari 14. Here I can choose my ipad (FaceID) as an security device.

 - Twofactor_Webauthn Version: 0.25
 - Nextcloud Version: 18.0.8
 - PHP Version: 7.3

**Webauthn Devi

[2020-09-20 22:38] My1 commented on #41
does the nextcloud let you enter the 2FA module without a password tho?
because that's kinda the purpose of the UV, to ax the password requirement.

[2020-10-15 05:26] sunjam opened #45 "Version 20 Compatibility"
Thank for considering Version 20 Compatibility

[2020-11-25 22:03] Dark-Schnitzel commented on #45
This Version is compatible with Nextcloud 20. Tested with 20.0.2. and an Android Client as webauthn device for 2FA.
This needs to be changed in appinfo/info.xml:

-        <nextcloud min-version="16" max-version="19" />
+        <nextcloud min-version="16" max-version="20" />

[2020-12-14 17:07] j-4 commented on #45
@michib it would be awesome if you could raise the version and publish this release to the app store. The "incompatibility" keeps the instances from auto-upgrading to nextcloud 20. Thanks a lot for your efforts!

[2020-12-14 18:21] michib commented on #45
did a simple upgrade work for you? it's not working in my test instances, i can't login with my preconfigured keys

[2020-12-14 18:49] #45 closed

[2020-12-24 02:58] scriptkiddy3 opened #47 "[BUG] Can't add any WebAuthn device"
First of all thanks for you hard work guy
Im kinda new to nextcloud so sorry if thats a dumb issue :)

I can't add any Web Authn devices with chrome of firefox

Steps to reproduce the behavior:
Click on Add WebAuthn device

**Expected behavior**
I expect Nextcloud to pickup my yubikey as a webauthn device

**Screenshots**
This shows up 1 sec
![2](https://user-images.githubusercontent.com/76011161/

[2020-12-24 23:16] karottenbaum commented on #47
WebAuthn [by specification (7.)](https://www.w3.org/TR/webauthn/#sctn-createCredential) can only be used on sites with a domain name, there's nothing twofactor_webauthn can do about that I'm afraid :(. Bare IPs like https://10.0.0.136 won't work.

[2020-12-24 23:30] scriptkiddy3 commented on #47
Ahhhhhhh I didnt get that part, tyvm for your help :)

[2021-01-31 01:49] mark0n opened #48 "[BUG] Could not extract app twofactor_webauthn"
App fails to install on my Nextcloud server with the following error:
[code]
Installing through the web front-end results in the same error. Other apps install fine.

**Environment**
 - Nextcloud Version: 19.0.8
 - PHP Version: 7.3.19
 - Database with Version: MariaDB 10.3.27
 - OS: Debian 10 (buster)

**Nextcloud error log**
No related errors in `nextcloud.log`.

[2021-02-02 10:50] coelner commented on #48
Dito for:
-    Nextcloud Version: 20.0.6
-    PHP Version: 7.3.19-1~deb10u1
-    Database with Version: MariaDB 10.3.27
-    OS: Debian 10 (buster)

[2021-02-02 17:16] QuesarVII commented on #48
I have the same issue on CentOS 8 w/ php 7.3.20.  I added an error_log line to the _error function in 3rdparty/pear/archive_tar/Archive/Tar.php and was able to capture this error from the extract function:

Out-of-path file extraction {/tmp/oc_tmp_hVL5xf-folder/twofactor_webauthn/vendor/bin/doctrine-dbal --> ../doctrine/dbal/bin/doctrine-dbal}

[2021-02-02 17:37] QuesarVII commented on #48
This looks like it might be a bug with Archive_Tar introduced with this commit: https://github.com/pear/Archive_Tar/commit/cde460582ff389404b5b3ccb59374e9b389de916#diff-8b265231ddc3289c7d5e2c9abc3c70d3b333b0b9e3e084e6d088a09bec297ff9

I'm reporting it to them and referencing this bug now.

[2021-02-22 23:03] mark0n commented on #48
I have installed version 1:1.10.12+submodules+notgz+20210212-1 from bullseye. I confirmed the change @QuesarVII referred to is actually contained in `/usr/share/php/Archive/Tar.php` but I still see this error.

In the meantime I have upgraded to Nextcloud 20.0.7 but that didn't make a difference either.

[2021-02-26 23:20] sunjam opened #49 "Nextcloud 21 Support"
Please add support.  Thanks!

[2021-02-26 23:21] sunjam opened #50 "PHP 8 Support"
Related to #49 php8 support was introduced in v21.  7.x will continue to be supported for now.  Thanks

[2021-03-01 12:45] Dark-Schnitzel commented on #49
Seems to be that only the Version in appinfo/info.xml must be bumped to 21. Tested with Nextcloud 21 and php73, works without problems in Chromium with a Nitrokey.

Same as with Version 20, upstream is bit slow sadly.
https://github.com/michib/nextcloud_twofactor_webauthn/issues/45

[2021-03-01 15:58] #47 closed

[2021-03-01 16:00] #49 closed

[2021-03-01 16:00] #50 closed

[2021-03-01 16:05] michib commented on #31
Is this bug still relevant?

[2021-03-01 16:06] michib commented on #44
Hi,
sorry for the late reply, i'm currently not really active when it comes to coding after work.
Sadly i'm not able to support iOS as i don't own a Mac.
But if you could provide a pullrequest with a fix, i will gladly check it.

[2021-03-01 16:13] michib commented on #49
@sunjam Thanks to pointing out that nextcloud 21 was released. I was not aware of it.

@Dark-Schnitzel Thanks for Testing with Nitrokey

I'm aware that i am not very active on this project, as it depends on my free time, my mood to work on it after a full day of coding for work, my health and a lot of other interests. But the conditions for working on this project are rarely met, so it won't chang

[2021-03-01 16:42] #48 closed

[2021-03-02 16:52] kowalski7cc commented on #41
I think in this case `authenticatorSelection.userVerification` should be `discouraged` because this is already a second factor after password entry.
The verification `required` should be used in the Nextcloud passwordless login (which at the moment is broken because it won't check for user verification and instead will bring you to a 2fa that could be the same used for the passwordless login https

[2021-03-19 22:00] BRadHoc opened #52 "Can't sign in using Safari"
Unlike on Webauthn.io when trying to sign in after registering in the nextcloud settings security tab (which does allow the use of Touch ID on Safari). When trying to sign in, it presents a screen asking for security key only.

[2021-05-04 23:04] bones1014 opened #55 "[BUG] Cannot add Webauthn Devices"
**Describe the bug**
When trying to add a Webauthn Device the button just flashes briefly but won't start adding a device.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Security under Personal
2. Click on Add Webauthn Device
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expla

[2021-05-22 12:18] jknockaert opened #58 "login error with NC 21.0.2"
Since upgrading to NC 21.0.2 logging in with webauthn fails.

[2021-05-23 21:19] michib commented on #58
Works on my installation. I can't provide any support if you skip any useful information and ignore the bug template i set up. Feel free to reopen after supplying some more information about the issue.

[2021-05-23 21:21] michib commented on #52
Sorry but i don't support issues that provide no information to find the issue. But in this case i'm also unable to provide support because i don't have mac to reproduce the issue.
Please feel free to provide a PR with the fix.

[2021-05-23 21:46] mike2307 commented on #58
I can confirm the exact same issue on my side. After the upgrade to version 21.0.2 (docker) the 2FA login with this extension fails. I have to fall back to TOTP to be able to login.
What additional information is needed to get this fixed?

[2021-05-24 09:19] michib commented on #58
@mike2307 Any help is greatly appreciated. If you could provide the information asked the by [bug_report template](https://github.com/michib/nextcloud_twofactor_webauthn/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md), it could help to find the issue. Thank you!

[2021-05-24 20:19] mike2307 commented on #58
**Describe the bug**
After upgrading the nextcloud docker image to version 21.0.2, the 2FA login with twofactor_webauthn fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the login page
2. Login normally with username and password
3. Select "Webauthn Device" as 2FA method (in case there are more configured)
4. Wait for Firefox notification
5. Put finger on 2FA device
6. See how th

[2021-05-27 21:02] shieldwed commented on #58
**To Reproduce**
Same as above but:
4. same issue occurs with Chromium (where in an additional step a PIN is entry is required)
6. The POST request to `login/challenge/twofactor_webauthn` returns 303 see other with the same document as `Location` again

**Environment (feel free to add relevant information)**
 - Twofactor_Webauthn Version: 0.2.9
 - Nextcloud Version: 21.0.2
 - PHP Version: 7.4.19

[2021-05-28 00:52] 5pr1nz commented on #58
Perhaps this might help, too:

[code]

[2021-05-28 09:50] isdnfan commented on #37
I have the same issue as I can't use my Nitrokey FIDO2 on NC21.0.2 with Two-Factor Webauthn 0.2.9 - feel free to ask me for testing (both fails registering new device and using a device registered in previous versions - details: https://help.nextcloud.com/t/log-in-by-device-yubikey-fails/116249/17 )

[2021-05-28 12:53] michib commented on #58
Thank you all. I hope i find some time tomorrow to look into the issue, the provided information is a great starting point.
I'm a little bit confused that it works on my test and also production instances of nextcloud. Sorry for the inconvenience resulting in this bug.

[2021-05-28 21:45] aryasenna commented on #58
Hi, chiming in also to confirm this bug on v 21.0.2
Actually, I got more log in nextlcloud actual log.

[code]

[2021-05-29 08:55] son1c commented on #58
I got a similar issue on my docker installation and on a fresh test setup as I describe here https://github.com/nextcloud/server/issues/27079

[2021-05-31 12:49] osm-frasch commented on #58
I see it the same way. I can also confirm this, as I also use the built-in FIDO2 support. I have also tested this with Firefox/Chromium and Chrome.

[2021-05-31 18:08] michib commented on #58
I can confirm that the issue now also occurs on my freshly setup test environment. I also get the 303.

@aryasenna I'm not sure if you have the same issue, but i will look into it.

[2021-05-31 19:41] aryasenna commented on #58
@michib thanks for checking.
Do you not have the same logs on your NC? This is also affecting NC core component, it would appear:
https://github.com/nextcloud/server/issues/27079

Also In my Javascript console, I get 500 error, not 303.

[2021-06-02 19:59] d4g commented on #58
This is especially frustrating as I cannot disable MFA for a user easily. If a user uses MFA and I disable MFA enforcement, they still cannot use MFA to login.

[2021-06-03 18:15] #58 closed

[2021-06-03 18:37] michib commented on #58
This bug should be fixed with release 0.2.10.

@aryasenna It was the same issue, i just didn't see the same logs in my test setup. But it was the reason for the bug and hopefully its fixed right now.

@d4g I'm not quite sure how your comment adds valuable information for helping to solve the issue. I have the impression its target is to build up pressure? But because that wouldn't be nice, hopeful

[2021-06-03 18:45] michib commented on #55
Hi @bones1014,

i'm not able to reproduce the issue. It works for me. But from the logmessage, it looks like you are trying to setup a first factor authentication with your yubikey? Thats not related to this twofactor provider, the firstfactor authentication is provided by nextcloud itself.

If it happens on setting up a key for this twofactor provider, could you provide more information how to re

[2021-06-03 19:30] mike2307 commented on #58
Confirmed to be working! :)
Thanks a lot.

[2021-06-08 07:26] isdnfan commented on #55
Just tested successfully using latest docker NC 21.0.2 (version from 04.06.2021) and Two-Factor Webauthn 0.2.10

[2021-06-08 07:27] isdnfan commented on #58
Just tested successfully using latest docker NC 21.0.2 (version from 04.06.2021) and Two-Factor Webauthn 0.2.10

[2021-06-08 07:27] isdnfan commented on #37
Just tested successfully using latest docker NC 21.0.2 (version from 04.06.2021) and Two-Factor Webauthn 0.2.10

[2021-06-08 07:33] isdnfan commented on #58
I'm sorry for mixing the issues, but looks both are fixed with 0.2.10 (or NC update).

[2021-06-08 07:37] aryasenna commented on #58
@osm-frasch No it is not. This issue is exactly about the twofactor-webauthn app. Please check the github repository name. 😅

The built-in passwordless webauthn is still  broken. See:
https://github.com/nextcloud/server/issues/27079

[2021-06-08 09:19] osm-frasch commented on #58
aaah i see ...this no longer functioning FIDO2 makes me all confused ;-)

[2021-06-08 17:07] bones1014 commented on #55
I'll give it another try since my snap updated recently. Thanks for looking!

[2021-06-09 08:37] derritter88 commented on #37
I still have some issues:

[ERROR] settings: Error persisting webauthn registration
Object { app: "settings", uid: "3A60C52D-9415-4F28-A2B7-71A8CBD7A9E3", error: Error }
​
app: "settings"
​
error: Error: Request failed with status code 500
​
uid: "3A60C52D-9415-4F28-A2B7-71A8CBD7A9E3"
​
<prototype>: Object { … }
ConsoleLogger.js:54:18
    value ConsoleLogger.js:54
    value ConsoleLogger.js:80

[2021-06-09 14:38] My1 commented on #41
couldnt agree more.
preferred just kinda sux in general and is a kinda bad default.

I have written a bit about this already somewhere.
https://blog.my1.dev/webauthns-userverificationpreferred-and-its-pitfalls
I dont really wanna advertise anything but it's just easier than writing it all top to bottom into a comment.

[2021-07-01 15:32] noseshimself opened #64 "[BUG] (probable, needs triage) files_encryption not having access to files on the GUI using WebAuthn for authentication"
**Describe the bug**
Using "Authenticate using a Device" I am still asked for a username and and asked to use my device to authenticate.  At the next step I'm choosing WebAuthn as SFA method.

After logging in I'm greeted with the message

"Invalid private key for encryption app. Please update your private key password in your personal settings to recover access to your encrypted files.✖"

I'm usi

[2021-07-26 02:17] bones1014 commented on #55
There hasn't been any change to the way the app is behaving. I've removed and reinstalled the app and it still doesn't allow me to add a webaunth device. I've tried in different browsers and they are all the same.

[2021-08-02 17:59] michib commented on #55
Is it still the same error Message?

[2021-08-02 18:01] bones1014 commented on #55
It doesn't give any error message. It just doesn't allow me to add a device. It just flashes to the graphic like it's going to add one and then just goes back to the add button.

[2021-08-02 18:02] michib commented on #64
Hi sorry for the late reply, somehow the notification Mail didnt show up. Unfortunately this is the wrong project. For the first factor webauthn authentication, please refer to https://github.com/nextcloud/server.
Also this project isn't related to any encryption, but for this i don't know where to refer to.
This project only provides the second factor authentication.

[2021-08-02 18:02] #64 closed

[2021-08-02 18:07] michib commented on #37
Hi, sorry for the late reply, somehow i didn't get any notification mails and just happened to check the issues.
Are you sure this is related to the second factor authentication or are you trying to setup the first factor auth? There is no AddDevice.vue nor vue-settings-personal-webauthn.js file in this project.

[2021-08-02 18:08] michib commented on #55
Could you provide a screenshot of what you are trying to do?

[2021-08-02 18:10] bones1014 commented on #55
![image](https://user-images.githubusercontent.com/74389768/127905231-8baf8e74-4a7b-45db-b36a-bf43d36f887b.png)
That button just flashes to "please plug in...." It's too fast to read. The box to add a device doesn't appear.

[2021-08-02 18:13] michib commented on #55
And there is no further error entry in the nextcloud log?
Could you check the console of your browser? You can open it with pressing F12. Can you check if there is some error message (or anything other) logged?

[2021-08-02 18:21] bones1014 commented on #55
<template>
	<div v-if="!isHttps">
		{{ t('settings', 'Passwordless authentication requires a secure connection.') }}
	</div>
	<div v-else>
		<div v-if="step === RegistrationSteps.READY">
			<button @click="start">
				{{ t('settings', 'Add WebAuthn device') }}
			</button>
		</div>

		<div v-else-if="step === RegistrationSteps.REGISTRATION"
			class="new-webauthn-device">
			<span class="icon-load

[2021-08-02 18:23] bones1014 commented on #55
[New Text Document (3).txt](https://github.com/michib/nextcloud_twofactor_webauthn/files/6918891/New.Text.Document.3.txt)

[2021-08-02 18:35] michib commented on #55
That are the contents of the console? To be honest, i doubt that. That's the sourcecode of the page

[2021-08-02 18:36] michib commented on #55
Please provide a screenshot of what you just copied. Maybe i can point you to the right direction afterwards.

[2021-08-02 18:38] bones1014 commented on #55
When I have the console open and then click the Add Webauthn Device button I get this:
![image](https://user-images.githubusercontent.com/74389768/127908236-fe208f69-4dd7-44cb-ae78-b6c40bcd89e8.png)

[2021-08-02 18:39] michib commented on #55
Do you have you installation provided by https?

[2021-08-02 18:43] bones1014 commented on #55
I thought I did. I was primarily accessing it on my local network and I guess it didn't like the HTTPS. I just went through the web address with is running HTTPS and has no problem and it's working. huh, I didn't think about that. Thanks for the guidance.

[2021-08-02 18:47] michib commented on #55
Ah alright. Thanks for the feedback. I will add some error handling for this. Webauthn only works through https by spec, the browsers restrict http connections.

[2021-09-03 20:33] Shar1988 commented on #41
https://github.com/nextcloud/server.git

[2021-09-03 20:36] Shar1988 commented on #41
https://github.com/nextcloud/server.git

[2021-09-08 18:39] JimmyKater opened #68 "Support for NC 22"
pls add support for NC22.

Thanks in advance :-)

[2021-09-25 09:55] kowalski7cc commented on #41
@michib I have a commit here that discourages browsers to ask for user verification: https://github.com/kowalski7cc/nextcloud_twofactor_webauthn/commit/09c7c619107634646b06ab2c3d65776f1cbaa0fe
I'm testing it on my NC instance (It seems to work ok with Yubikey).
If you want I can open a PR.

[2021-09-26 14:35] michib commented on #68
i'm looking into it. Sadly it doesn't work with the current implementatation, the security key can be added but it isn't requested during login

[2021-09-26 14:36] michib commented on #41
@kowalski7cc i would highly appreciate it. Thanks in advance

[2021-09-28 19:19] kowalski7cc commented on #68
That's strange, I'm using it without issues on Nextcloud 22.1.1

[2021-09-29 09:03] kowalski7cc commented on #6
There is already an extension for U2F authentication, but as also stated by @Spomky, U2F is deprecated and soon Chrome will remove it.
Sources:

- https://groups.google.com/a/chromium.org/g/blink-dev/c/xHC3AtU_65A?pli=1
- https://developer.chrome.com/blog/deps-rems-95/

[2021-10-03 18:11] michib commented on #68
@kowalski7cc Did it work for an user that didn't have twofactor auth enabled? Thats my issue, i'm setting up a new user, registering a security key but can still login withouth the key. Twofactor auth didn't get enabled for the user.

[2021-10-03 18:22] kowalski7cc commented on #68
Tomorrow I'll try to provision a new user and add only webauthn 2fa

[2021-10-03 18:37] michib commented on #68
Thank you! But it seems my development environment somehow got messed up. It doesn't even work with NC 21, but there i know it did.

[2021-10-04 09:55] kowalski7cc commented on #68
Tried on my NC22, it seems ok even with a fresh user wich only deployed webauthn.

[2021-10-05 20:12] #41 closed

[2021-10-05 20:14] #68 closed

[2021-10-06 10:44] michib opened #70 "[BUG] Out-of-path file extraction in version 0.2.11"
**Describe the bug**
While trying to update/install twofactor_webauthn in version 0.2.11, an error occurs:

Exception: Could not extract app twofactor_webauthn: Out-of-path file extraction {/tmp/oc_tmp_kKHR9R-folder/twofactor_webauthn/vendor/bin/phpunit --> ../phpunit/phpunit/phpunit}

[2021-10-06 10:52] #37 closed

[2021-10-06 15:00] techsolo12 opened #71 "[BUG] Webauthn will end in loop on iOS"
**Describe the bug**
When i want to login in my cloud over my iPhone or iPad. I will get stuck in a loop.
This issue comes on safari and firefox and only on iOS.
On every other device i can login without any issues. MacBook or linux machine or windows laptop or android smartphone.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cloud
2. Enter login credentials
3. Choose Webauthn
4. Pag

[2021-11-07 21:18] Muzosh commented on #55
Hello @michib,

I'm having a same issue as the original author of this issue: after clicking on the [button](https://github.com/michib/nextcloud_twofactor_webauthn/issues/55#issuecomment-891229355) a small loading circle shows up for a split second and then disappears and nothing happens.

Immediately after clicking on the button there is a message "starting webauthn registration" and it is follow

[2021-11-22 15:37] vszakats commented on #52
Similar issue here. Using Safari 15.1. Adding new keys work correctly, but on login, clicking on 'Webauthn Devices' will unconditionally jump back to the `/index.php/login/selectchallenge` page. After enabling the 'Web Authentication Modern' option under 'Develop → Experimental Features', this gets improved by actually going to the `/index.php/login/challenge/twofactor_webauthn` page and idly wait

[2021-11-22 15:44] michib commented on #52
Yes, webauthn should work on a mac. But someone with a mac has to provide a fix, because i can't reproduce it without one

[2021-11-22 15:50] vszakats commented on #52
If you need some specific info, I can try providing it, but I'm not an expert of any of the components involved, so providing a PR is not an option for me at least.

[2021-11-22 15:59] vszakats commented on #52
Found these pointers, in the hope they might help finding the root cause and help developing a fix:
- <https://support.yubico.com/hc/en-us/articles/360022004600-No-reaction-when-using-WebAuthn-on-macOS-iOS-and-iPadOS>
- <https://github.com/18F/identity-idp/issues/5132>
related fix/patch: <https://github.com/18F/identity-idp/pull/5162/files>
- <https://github.com/w3c/webauthn/issues/1293>

[2021-11-22 17:01] vszakats commented on #52
I understand that buying an Apple device to fix this isn't a viable option.  What I can offer is that if you have a test patch/release or a blind fix in a next release, I can make a test with it (in my particular env) and report back. For certain, at the moment, login cannot be worse than the current state on Apple devices (apparently caused by breaking changes done by Apple in Safari.), so any at

[2021-11-22 17:13] michib commented on #52
Ok, thanks for the offer. If i have enough time coming weekend i am planning on releasing a version with better logging. Would be great if you can check what output is shown with this version and maybe i can provide a special version you could try out without me releasing something officially

[2021-11-22 17:22] vszakats commented on #52
Sounds great to me, thank you for your efforts!

[2021-11-28 11:55] michib commented on #31
Closing it due to being stale

[2021-11-28 11:55] #31 closed

[2021-11-28 11:56] michib commented on #52
There is a new Release 0.2.12. Could you try to repeat the process and check the logs. There should be some more shown during the registration process. Maybe this helps to pinpoint the issue

[2021-11-28 14:34] vszakats commented on #52
@michib: Thank you for your update. After upgrading on the server to 0.2.12, the behaviour did not change, meaning: Unconditional redirect back to the auth selection page when clicking on Webauthn on the login page. When enabling 'Webauthn Modern' experimental option in Safari, this is fixed and the browser lands on the Webauth Devices page, but here there is no prompt, and inserting or pressing t

[2021-11-28 17:37] michib commented on #52
What are the entries on the nextcloud server log regarding your login attempt?

[2021-11-28 17:57] michib commented on #52
Oh think i understand the issue. I try to provide a fix

[2021-11-28 18:18] michib commented on #52
[twofactor_webauthn-0.2.13-alpha.0.tar.gz](https://github.com/michib/nextcloud_twofactor_webauthn/files/7614092/twofactor_webauthn-0.2.13-alpha.0.tar.gz)
@vszakats Could you install this version on your nextcloud instance and try webauthn authentication without activating "Webauthn Modern"?

[2021-11-28 19:10] michib commented on #55
@Muzosh i think the error message indicates, that you should check your nextcloud setup. It has to run on a https connection. But i don't know what this error message exactly means. You can try to install the new released version 0.2.12 and provide the logs of the browser console and the server logs here.

[2021-11-28 23:20] vszakats commented on #52
@michib: Updated to 0.2.13-alpha.0, kept 'Webauthn Modern' disabled. With this combination, I can report that now the unconditional redirect is _fixed_, meaning that selecting 'Webauthn login' takes to the 'Webauthn Devices' page as expected. Then, clicking on the button 'Use webauthn device' correctly pops up the Safari prompt and tapping on the key was also recognized.

At this point I got a 'Fo

[2021-11-29 07:21] michib commented on #52
Thank you for your feedback, i'm glad this issue could be resolved.
You are right about #44, but i'm not sure about #71. Will have to recheck.

[2021-11-29 14:00] tcitworld opened #72 "[BUG] Incompatible with PHP < 7.4"
**Describe the bug**
Composer seem to require PHP 7.4.

**To Reproduce**
Steps to reproduce the behavior:
1. Update nextcloud_twofactor_webauthn to 0.2.12 on PHP 7.3, which is supported by NC 21.
2. Nextcloud is broken with the following error: `Your Composer dependencies require a PHP version ">= 7.4.0".`.

**Environment (feel free to add relevant information)**
 - Twofactor_Webauthn Version: 0.2

[2021-11-29 17:43] #72 closed

[2021-11-29 17:48] michib commented on #71
This issue is probably fixed with version 0.2.13. Please reopen if its not the case.

[2021-11-29 17:48] #71 closed

[2021-11-29 17:49] michib commented on #44
This issue should be fixed with version 0.2.13. Please reopen if its not the case.

[2021-11-29 17:49] #44 closed

[2021-11-29 17:50] michib commented on #55
@Muzosh could you retry with version 0.2.13 and post the console entries of your browsers? Please remove any sensitive data before!

[2021-11-29 20:24] techsolo12 commented on #71
I can confirm the update fix the loop.
I can login on my iphone and ipad with my yubikey 5 usb c and yubikey 5 nfc.
Thanks for your help and the work on this app!

[2021-11-30 07:56] michib commented on #72
Thank you @tcitworld for reporting this bug and providing the solution :-) I hope version 0.2.13 fixes it for you?

[2021-11-30 07:58] tcitworld commented on #72
I confirm it does, thanks!

[2021-11-30 09:28] michib commented on #72
Great, thank you for your feedback

[2021-12-01 12:43] Muzosh commented on #55
@michib Here is the result of clicking the button after updating to 0.2.13:
![image](https://user-images.githubusercontent.com/30979983/144236295-7506b672-a83d-412f-a1d2-3e8e79224c68.jpeg)

As you have said, I'm running nextcloud on my own testing server with self-signed certificate. It is https connection but with invalid certificate that I had to allow when first connected to this server. So my

[2021-12-01 12:54] michib commented on #55
Yes localhost does not work in every browser afaik. For my development testing i am using a local domain like "cloud.net.local". Browsers are happy with it :-)
In this case i am closing the issue, please reopen or open another bug if it turns out that the issue is part of the provider and not of the server configuration.

[2021-12-01 12:54] #55 closed

[2022-02-04 15:55] My1 commented on #6
sure it's deprecated (and by now even disabled behind a flag in chrome) but the issue is that people have existing registrations and stuff and having a way to seamlessly integrate that (either by adding compatiblity to this or by changing the twofactor_u2f to use webauthn instead) would be very nice.
the big problem is tho that if the twofactor_u2f extension would be changed that we'd practically

[2022-02-04 15:57] My1 commented on #17
@JSoko nice info but not the point.
the point is that the extension should maybe tell the admin that the gmp is missing rather than not telling anything and needing to dig endlessly in the logs.

[2022-02-07 12:35] ChristophWurst opened #73 "Invitation to move this repo to the nextcloud organization"
**Is your feature request related to a problem? Please describe.**

We (Nextcloud Gmbh) have a twofactor_u2f app that stopped working with Chrome, due to a intentionally shutdown of the u2f API. Your app is building on the same code base and webauthn replaces the u2f app. It makes sense if we join our efforts and work on your app together.

@michib would you be okay with that? We can also discuss

[2022-02-08 17:49] michib commented on #6
Needed for the migration over to nextcloud, therefore reopening this issue.

[2022-02-08 17:49] michib commented on #73
Hi,

thank you for this invitation. I think that's a great opportunity for this project to finally mature. After all the time its exists, its still not where i would like it to have (as one can see by the old issues about basic stuff). So i will gladly accept the invitation and transfer the ownership of this project to nextcloud.

[2022-02-08 18:06] ChristophWurst commented on #73
Thanks a lot @michib!

[2022-02-08 18:09] #73 closed

[2022-02-08 18:10] michib commented on #73
Nice :-)

[2022-02-08 18:56] My1 commented on #73
how would a migration go by the way @ChristophWurst after all I would assume that all extension owned data gets lost upon removal of said extension.

[2022-02-08 22:17] st3iny opened #76 "Use @nextcloud/webpack-vue-config"
Refactor webpack config to use `@nextcloud/webpack-vue-config`.

[2022-02-09 05:52] ChristophWurst commented on #73
The database tables remain. We can access them from the replacement app.

[2022-02-09 07:51] ChristophWurst opened #77 "Migrate to IBootstrap"
https://docs.nextcloud.com/server/stable/developer_manual/app_development/bootstrap.html#bootstrapping-process

[2022-02-09 08:48] ChristophWurst opened #78 "Set up transifex"
**Is your feature request related to a problem? Please describe.**

This app needs translation.

**Describe the solution you'd like**

Set up transifex. Copy existing strings from the twofactor_u2f resource as there is a large overlap.

**Describe alternatives you've considered**

n/a

**Additional context**

https://github.com/nextcloud/docker-ci/pull/351

[2022-02-09 09:02] nickvergessen commented on #78
@rakekniven @Valdnet  is it somehow possible to rename the resource in transifex?

[2022-02-09 09:09] Valdnet commented on #78
I do not know. I do not have access to edit these sources in Transifex.

[2022-02-09 11:56] rakekniven commented on #78
Hello, it is not really clear to me what should be achieved?

Currently we have the following twofactor resources at Transifex:
<img width="995" alt="Screenshot 2022-02-09 at 12 49 22" src="https://user-images.githubusercontent.com/2069590/153195670-d4d56751-3fe0-461a-9017-fc25e1168c34.png">

The following actions can be done to a resource:
<img width="682" alt="Screenshot 2022-02-09 at 12 48 53"

[2022-02-09 11:58] nickvergessen commented on #78
Change for docker-ci has already been done. The resource is not big (29 Strings) and translators will quickly do the work.

Fine by me. Just wanted to save you some time, but also with an upcoming follow up release of u2f, maybe that is the easier thing to do

[2022-02-09 11:58] nickvergessen commented on #78
https://github.com/nextcloud/docker-ci/pull/351 that is where we come from :D

[2022-02-09 11:59] rakekniven commented on #78
Read this seconds ago :-)

[2022-02-09 11:59] ChristophWurst commented on #78
The twofactor_webauthn is based on twofactor_u2f, therefore lots of identical strings are used in both apps and I thought it makes sense to copy them to avoid some double translation for twofactor_webauthn that was already done for _u2f.

BUT _u2f won't be shut down yet. So please *do not* rename.

[2022-02-09 12:01] rakekniven commented on #78
@ChristophWurst Understood your thoughts, but copying is not implemented by TX unfortunately.

Fully agree 😄

[2022-02-09 12:04] ChristophWurst commented on #78
Got it. Then we have to start from scratch. Luckily there aren't too many strings to translate :)

[2022-02-09 12:12] Valdnet commented on #78
Translators can always take advantage of the translation suggestions for individual strings. One of the works is just to click through text strings 😁.

[2022-02-09 17:06] rakekniven commented on #78
One thing I wonder is that https://github.com/nextcloud/twofactor_webauthn/tree/main/l10n already contains translations?
A look at https://github.com/nextcloud/twofactor_webauthn/blob/main/l10n/de_DE.js shows the source is `twofactor_u2f`.
Did you copy these files?

[2022-02-09 17:25] ChristophWurst commented on #78
Yes, the main branch was taken from U2F. It's in fact identical with the latest twofactor_u2f master branch until https://github.com/nextcloud/twofactor_webauthn/pull/74 is done.

[2022-02-10 02:58] My1 commented on #73
also if/when this is done could someone maybe PLEASE look at the passwordless webauthn section of nextcloud itself too, which has been broken for a long time despite checking if the UV bit is set likely not being an overly hard affair.

https://github.com/nextcloud/server/issues/21215

[2022-02-10 07:42] ChristophWurst opened #79 "Setup during login"
**Is your feature request related to a problem? Please describe.**

Setup is not possible during the login. This is important when 2FA is enforced.

**Describe the solution you'd like**

Port https://github.com/nextcloud/twofactor_u2f/pull/507 to this app.

**Describe alternatives you've considered**

N/a

**Additional context**

https://github.com/nextcloud/twofactor_u2f/pull/507

[2022-02-10 07:54] ChristophWurst commented on #17
https://help.nextcloud.com/t/api-proposal-app-provided-setup-checks/86393 would certainly help here.

[2022-02-10 17:15] ChristophWurst opened #99 "Remove/replace slim framework"
### Feature Request

It should be necessary to ship the Slim framework with this app. Let's use a more lightweight PSR implementation. We should actually be able to use the one shipped with Nextcloud.

#### Summary

n/a

[2022-02-11 10:24] ChristophWurst commented on #78
Transifex can now be enabled for this repo

[2022-02-11 13:52] #77 closed

[2022-02-11 17:54] rakekniven commented on #78
Ok, so I recommend to empty `l10n` directory. Not every language is in good shape. By deleting existing files you prevent app from shipping wrong translations. We had this some weeks ago. Maybe @nickvergessen will remember 😉 .

Have a nice weekend.

[2022-02-17 15:49] ChristophWurst opened #110 "v0.3 checklist"
* [x] https://github.com/nextcloud/twofactor_webauthn/issues/78
* [x] https://github.com/nextcloud/twofactor_webauthn/issues/77
* [x] https://github.com/nextcloud/twofactor_webauthn/issues/5
* [x] https://github.com/nextcloud/twofactor_webauthn/issues/99
* [x] https://github.com/nextcloud/twofactor_webauthn/issues/6
* [x] #112
* [x] #111
* [x] https://github.com/nextcloud/twofactor_webauthn/issues

[2022-02-17 15:49] ChristophWurst opened #111 "Set up release automation"

[2022-02-17 15:50] ChristophWurst opened #112 "Request certificate"

[2022-02-21 19:22] #99 closed

[2022-02-24 08:50] #112 closed

[2022-02-24 10:53] #111 closed

[2022-02-25 08:30] ChristophWurst opened #121 "Dependency hell due to cs-fixer and symfony console"
### Steps to reproduce
1. Install the app for development
2. Run occ

### Expected behaviour

occ works

### Actual behaviour

[code]

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Version:** (see admin page)

**Updated from an older version or fresh install:**

**List of activated apps:**

[code]

**The content of config/config.php:**
[code]

[2022-03-01 13:40] #6 closed

[2022-03-01 14:09] ChristophWurst commented on #5
Done via https://github.com/nextcloud/twofactor_webauthn/pull/113

[2022-03-01 14:09] #5 closed

[2022-03-03 05:58] #121 closed

[2022-03-03 06:07] #110 closed

[2022-03-03 06:08] ChristophWurst commented on #7
done

[2022-03-03 06:08] #7 closed

[2022-03-03 06:29] ChristophWurst commented on #18
https://help.nextcloud.com/c/apps/twofactor-webauthn/181 exists now

[2022-03-03 06:29] #18 closed

[2022-03-08 11:12] Kev-kr opened #142 "Error Message: At least one of your two-factor authentication methods could not be loaded. Contact your administrator."
### Steps to reproduce
After Upgrading to 0.3.1

### Expected behaviour
No error message, forwarding to the 2nd factor

### Actual behaviour
Staying in the selection screen, error message "that at least one authentication methods won't load", but selecting Webauthn as authentication methode still works. Just the error message is annoying
![error](https://user-images.githubusercontent.com/94394071/

[2022-03-09 14:40] PatrickJosh commented on #142
I can confirm this issue with Nextcloud 23.0.2. It happens since the update of twofactor_webauthn to 0.3.1.

[2022-03-12 20:34] lsch0l3y commented on #142
I also can confirm this issue. In addition, if the app is removed, or disabled, Nextcloud logs the following:

2 two-factor auth providers failed to load

two-factor auth provider 'webauthn' failed to load

two-factor auth provider 'twofactor_webauthn' failed to load

[2022-03-15 07:48] ChristophWurst commented on #142
https://github.com/nextcloud/twofactor_webauthn/blob/684bf7ef21b6c6276a71cf52a76686b67b3e1024/lib/Provider/WebauthnProvider.php#L133 in the old version vs https://github.com/nextcloud/twofactor_webauthn/blob/27977e5ffef14f2d280628ff51c4728e300d8a1d/lib/Provider/WebAuthnProvider.php#L78 in the new one.

My bad. I cleaned up the code and streamlined the identified without thinking of the consequence

[2022-03-15 07:57] ChristophWurst commented on #142
The problem is that if I switch back from `webauthn` to `twofactor_webauthn`, eveyone who set up a device since 0.3 will run into the same problem :/

[2022-03-15 08:38] Kev-kr commented on #142
Is it possible to release an Update or an Update instruction to fix it or will the Problem stay forever?
Maybe releasing two different version of the app?

[2022-03-15 08:39] ChristophWurst commented on #142
I'll figure something out.

[2022-03-16 16:41] behines opened #143 "Any way to prevent Windows Hello from being used as the second factor?"
### Question

Hi Christoph,

Thanks for the great U2F and WebAuthn Nextcloud apps.  We have handed out Yubikeys to all of our employees and external partners and use them for second-factor Nextcloud authentication.

I was wondering if you had seen this issue, whether you have any advice:

https://help.nextcloud.com/t/nextcloud-allowing-login-with-windows-hello-bypassing-yubikey/131216

When we tri

[2022-03-17 07:48] ChristophWurst commented on #143
There are no plans for such restrictions.

[2022-03-24 12:24] jakubgs opened #146 "Registration fails - either timed out or was not allowed"
### Steps to reproduce
1. Try to register YubiKey for WebAuthN
2. Click the button on YubiKey repeatedle
3. See error:
[code]

### Expected behaviour
It works.

### Actual behaviour
It doesn't work.

### Server configuration

**Operating system**: [Docker Image based on Debian](https://github.com/nextcloud/docker)
**Web server:** Apache
**Database:** Postgres 13.3
**PHP version:** `8.0.17`
**Versi

[2022-03-24 12:33] jakubgs commented on #146
I just managed to add my YubiKey as WebAuthN device from a different machine running the same OS and using Brave browser.
What's interesting is now I can also use it from my desktop and also remove and re-add YubiKey as WebAuthN from desktop.

This suggests that:

1. This is partially client-side issue, since the laptop worked
2. This is partially server-side issue, since the successful addition f

[2022-03-30 13:13] tcitworld opened #147 "Only display « Migrating devices of user » for users who actually have u2f keys in migration"
### Steps to reproduce
1. Have a lot of users
2. Execute `php occ twofactor_webauthn:migrate-u2f --all`

### Expected behaviour
The message `Migrating devices of user X` should only be displayed for users with actual u2f keys registered.

### Actual behaviour
The message is displayed for all users, even if they don't have any registered u2f keys to migrate

### Fix

An easy fix is to make sure the

[2022-04-29 17:44] nursoda opened #164 ""Don't ask to plug in the device", automatic auth"
### Feature Request

Add a USER preference  "Don't ask me to plug in the device (since I keep it plugged-in all the time)"

#### Summary

I think there are two use cases:

1. The WebAuthn device is plugged-in permanently in a laptop
2. The WebAuthn device is carried like a classical key in the user's pocket

Personally, I'm case 1. I want to streamline the login process. Each additional step is a

[2022-05-13 07:47] ChristophWurst opened #175 "Oracle support"
### Feature Request

Installations on Oracle would like to use this app. Currently only MariaDB, Postgres and SQLite are supported

#### Summary

N/a

[2022-05-17 19:21] mike2307 commented on #164
I think it was exactly like that in an older version.
Would appreciate if we could have an option to restore that behavior! :)

[2022-05-18 22:31] nursoda opened #176 "Call to a member function getUserHandle() on null in file apps/twofactor_webauthn/lib/Service/WebAuthnManager.php"
### Steps to reproduce
[A] Log in doesn't work any more
1. Upgrade NC to 24.0.1 RC1
2. Use 2FA Webauthn with a FIDO2/U2F token to log in

[B]
1. Log in somehow
2. try to delete an existing (and displayed twice) (U2F migrated) token

### Expected behaviour
[A] Should accept token and log in
[B] Should delete token

### Actual behaviour
[A] 2FA login fails
[B] Token seems to be deleted but isn't

##

[2022-05-20 10:18] #79 closed

[2022-05-20 10:19] ChristophWurst opened #178 "Design review"
### Feature Request

The app is nearing feature completeness with the old U2F app. So it's time to have a closer look at the visuals together with the design team.

@nimishavijay @jancborchardt would have time for this in an upcoming weekly design call?

#### Summary

Review the app and create tickets for everything that should change.

[2022-05-20 11:20] nimishavijay commented on #178
Sounds good, scheduled it for 31.05 (the Tuesday after the coming week) in the design channel, hope it works for all involved :)

[2022-05-20 11:31] ChristophWurst commented on #178
Thanks!

[2022-05-24 15:44] #175 closed

[2022-05-25 15:42] gituser789 opened #179 "Update App-Store recommendations"
As seen from some issues, U2F-app is not longer recommendet, but two-factor webauthn.
* https://github.com/nextcloud/twofactor_u2f/issues/1003
* https://github.com/nextcloud/twofactor_u2f/issues/947

Two-factor U2F is still marked as recommended, but Two-Factor WebAuthn is currently not recommended:
![image](https://user-images.githubusercontent.com/62549000/170302657-dcbbf07b-41aa-4b9d-8cde-4da01

[2022-05-25 20:19] coelner commented on #178
If it matches the topic:
- an option to rename the device
- an information for which domain the device was registered (but only if multiple domains are used)

[2022-05-30 11:52] ChristophWurst commented on #179
@nickvergessen can you help with this? It should be similar to https://github.com/nextcloud/appstore/issues/867

[2022-05-30 12:03] nickvergessen commented on #179
It's in the admin settings of the appstore.
I add it to webauthn and remove it from u2f?

[2022-05-30 12:04] ChristophWurst commented on #179
Yes please :)

[2022-05-30 12:04] nickvergessen commented on #179
Done

[2022-05-30 12:05] nickvergessen commented on #179
https://apps.nextcloud.com/?is_featured=true&search=Two-Factor

[2022-05-30 12:05] nickvergessen commented on #179
(On that note, time to add some screenshot?)

[2022-05-30 12:08] nickvergessen commented on #179
https://github.com/nextcloud/twofactor_webauthn/pull/180/files

[2022-06-06 10:18] mrclschstr commented on #142
As a preparation for the Nextcloud 24 upgrade I migrated all existing U2F registrations to WebAuthn like mentioned in the [README](https://github.com/nextcloud/twofactor_webauthn#migration-from-two-factor-u2f). To check the successful migration I ran the command `occ twofactorauth:state` with my user and got the following result:

[code]

I have _not_ set up passwordless WebAuthn authentication bu

[2022-06-11 15:47] kesselb opened #186 "Add screenshot for appsstore"
### Feature Request
![image](https://user-images.githubusercontent.com/3902676/173194979-810b821c-72f4-4511-a656-16168d6f41f1.png)

#### Summary

Please add a screenshot for the appsstore ;)

[2022-06-11 15:52] kesselb commented on #186
Fixed by https://github.com/nextcloud/twofactor_webauthn/pull/180

[2022-06-11 15:52] #186 closed

[2022-06-14 12:19] jancborchardt commented on #164
If this is technically possible, we should indeed to it – not as a preference though, but automatically.

[2022-06-14 12:52] ChristophWurst opened #188 "Rename "WebAuthn device" (and "device") to "security key" in interface"
### Feature Request

WebAuthn is very technical. We should rename this term on the UI.

#### Summary

Also used by others like Firefox, GitHub, Microsoft, etc.

[2022-06-14 12:53] ChristophWurst opened #189 "Prefill device name if possible"
### Feature Request

Possible to get a default name for a device? Would be good to prefill that

#### Summary

N/a

[2022-06-14 12:54] ChristophWurst opened #190 "Make login error message wording more human"
### Feature Request

*Operation was aborted* is too technical.

#### Summary

[2022-06-14 12:55] ChristophWurst opened #191 "Reorder device actions menu items"
### Feature Request

In actions menu, "Remove" should be last in the list.

#### Summary

[2022-06-14 12:56] ChristophWurst opened #192 "Hide error for user-cancelled registration"
### Feature Request

If you press "Cancel" in the browser prompt when adding a security key, "the operation was aborted" does not need to show

#### Summary

[2022-06-14 12:56] ChristophWurst opened #193 "Show key registration date"
### Feature Request

Add " - registered on 20 April 2022" after key name

#### Summary

[2022-06-14 12:58] ChristophWurst opened #194 "Login setup container is very wide"
### Steps to reproduce
1. Set up a device during login

### Expected behaviour

Smooth design

### Actual behaviour

Width of container is very wide

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Version:** (see admin page)

**Updated from an older version or fresh install:**

**List of activated apps:**

[code]

**The content of config/config

[2022-06-14 12:59] ChristophWurst opened #195 "Add icon and short text for security key setup step"
### Feature Request

- [x] #224
- [x] #225

#### Summary

[2022-06-14 12:59] ChristophWurst opened #196 "Require a device name"
### Feature Request

Disable "Add" button if no name is put in

#### Summary

[2022-06-15 21:49] nursoda commented on #164
Suits my usage, but I'm unsure if this suits all users: ARE there use cases that need to prompt a user to plug in his device first? IF so, the default might be not to prompt and an option to prompt would be nice.

[2022-06-17 13:08] Brianetta opened #198 "FIDO-1 U2F device doesn't work"
### Steps to reproduce
1. Login to Nextcloud
2. Select webauthn because it has deprecated U2F
3. Insert U2F key (FIDO version 1)

### Expected behaviour
Tell us what should happen
Key flashes, pressing button authenticates

### Actual behaviour
Tell us what happens instead
Key flashes, pressing button is ignored and login screen continues to prompt
*Same key works to authenticate to GitHub, and wo

[2022-06-17 13:22] Brianetta commented on #198
The same key can't be *registered* using the webauthn app. The same symptoms - it's more or less ignored, until I press cancel.

[2022-06-28 12:51] #188 closed

[2022-06-28 15:55] #191 closed

[2022-06-28 15:56] #192 closed

[2022-06-29 09:23] ChristophWurst commented on #178
Closing this ticket in favor of the new tasks

[2022-06-29 09:23] #178 closed

[2022-06-29 11:22] andreas-p opened #205 "Trustkey G310 registration doesn't work on Chrome"
This was tested with the latest Chrome 103 and Firefox 101 on NC24.0.2.

Registering the Trustkey with Chrome 103 for FIDO2 or 2FA doesn't work, because the public_key_credential_id field in oc_twofactor_webauthn_registrations and oc_webauthn are only VARCHAR(255), while the string to be stored is 256 bytes long.
After resizing the column in both tables, both FIDO2 and 2FA logins work from Firefox

[2022-06-29 11:28] andreas-p opened #206 "Trustkey G310 registered in Firefox doesn't work with Chrome"
Tested with Firefox 101, Chrome 103, Nextcloud 24.0.2

When a Trustkey G310 is registered with Firefox for 2FA or FIDO2, the key's LED is blinking yellow, indicating U2F mode. The key will work with Firefox only, Chrome will refuse the key as not registered (checking in FIDO2 mode, according to the blue LED).

If the registration is performed using Chrome (FIDO2 mode) (after database fix as mentio

[2022-06-29 14:00] andreas-p opened #208 "Trustkey G310 not working with Chrome"
checked with Chrome 103 and NC24.0.2:

After fixing NC according to #205, Trustkeys registered using Chrome will work for FIDO2 and 2FA with Firefox, but with Chrome only 2FA works reliably: While I managed to login using a Chrome-registered Trustkey for FIDO2 once, I now can't do it any more. The Chrome browser will refuse the FIDO2 Trustkey with "not registered with this site".

The previous suc

[2022-06-30 13:22] ChristophWurst commented on #194
The `.wrapper`. from server's guest.css is responsible for this.

[2022-06-30 13:30] ChristophWurst commented on #190
It is the browser's error message.

[2022-07-01 08:02] andreas-p commented on #205
Hotfix for PostgreSQL:

[code]

[2022-07-01 08:11] skwee commented on #205
Same for Mysql / MariaDB:
[code]

[2022-07-05 10:58] st3iny commented on #205
The standards do not mandate a maximum size for crendential ids. We only tested this using Yubikeys and they always fitted inside the table column.

I guess we should increase the width of the column.

Ref https://www.w3.org/TR/webauthn/#credential-id

[2022-07-08 09:03] st3iny opened #225 "Add short text to login setup page"
"Set up a security key as a second factor"

[2022-07-08 09:40] #196 closed

[2022-08-05 19:32] tbpoetke opened #233 "adding Solokey 2 >> Data too long for column 'public_key_credential_id' at row 1 at <<closure>>"
### Steps to reproduce
1. adding Solokey 2 in Nextcloud adminpage

### Actual behaviour
is not working, this error message appears in serverlog:
[code]

### Server configuration

**Operating system**: Ubuntu 18.04 Nextcloud 24.0.3 in docker

**Web server:**

**Database:**
Type: mysql
Version: 10.5.16
**PHP version:**
8.0.21
**Version:** (see admin page)
0.3.1

**List of activated apps:**

  - acce

[2022-08-06 21:29] tbpoetke commented on #233
ok, I managed to fix it for myself:

I connected to my Nextcloud db and entered this statement:
[code]

[2022-09-03 11:35] nursoda opened #253 "Add NC 25 support"

[2022-09-09 09:17] #142 closed

[2022-09-16 18:36] j-ed opened #258 "[0.3.1] It should be allowed to rename an already added WebAuthn device"
### Feature Request

If you add a new WebAuth device it you can enter a name, which cannot be changed afterwards anymore. An option should be added to the menu which allows to rename a device after it has been added, similar as app tokens can be renamed.

![grafik](https://user-images.githubusercontent.com/2572764/190707827-924544dd-3b52-4aed-9017-f72d78c72a29.png)

App version: 0.3.1

## Environm

[2022-09-21 08:21] #195 closed

[2022-09-21 08:21] #225 closed

[2022-09-21 12:21] PatrickJosh commented on #142
If this should have been fixed by updating to 0.3.2 (as indicated in #259), then it hasn't worked for me. I still get the same error on every login. The result of `occ twofactorauth:state` with my username is the following:
[code]

[2022-09-21 12:31] ChristophWurst commented on #142
Do you get any warning when you run `occ maintenance:repair` manually?

[2022-09-21 12:50] PatrickJosh commented on #142
No. I don't see anything related to webauthn or two-factor authentication in the output.

[2022-09-21 12:59] ChristophWurst commented on #142
Okay. So the repair step is not run at all.

[2022-09-21 13:07] ChristophWurst commented on #142
I can't figure out why but the repair step runs for Nextcloud 25 but not Nextcloud 24.

[2022-09-21 14:56] nursoda commented on #253
In 1.0.0-beta,1, the button is misaligned:

![grafik](https://user-images.githubusercontent.com/8425483/191538652-e07fed6b-5427-4a0b-a73d-fd6d5793989d.png)

However, I thought that the button shall be omitted altogether?!

[2022-09-21 14:58] ChristophWurst commented on #253
https://github.com/nextcloud/twofactor_webauthn/pull/257 & https://github.com/nextcloud/twofactor_webauthn/pull/210

[2022-09-21 14:58] #253 closed

[2022-09-21 14:59] #164 closed

[2022-09-21 16:15] nursoda commented on #253
beta.2 is perfect in both respects, thanks!

[2022-09-21 18:37] inok16 commented on #142
I run Nextcloud 23.0.9.1 and it does not work for me aswell.

[2022-09-22 14:28] AngryLasagna opened #263 "After update to 0.3.2 I can neither add devices nor use existing ones."
### Steps to reproduce
1. Upgrade plugin to 0.3.2 from previous version
2. Try login with webauthn as 2nd factor.
3. Try re-adding webauthn device in settings and repeat 2

### Expected behaviour
Existing pairings should work.

### Actual behaviour
On login I get an error that I should try another device because this one does not have a pairing.
On re-add I get an unspecific error "Server-Fehler b

[2022-09-22 15:36] ChristophWurst commented on #263
so? any details?

[2022-09-24 21:48] SigLinJo commented on #233
Hi. I have the same error while adding solokey2 through Chrome on Ubuntu. It works when I do it in Firefox. I can log in through Chrome after registering the key through Firefox. I have updated to the latest firmware for Solokey2

Server configuration detail

Operating system: Linux 5.15.0-48-generic #54-Ubuntu SMP Fri Aug 26 13:26:29 UTC 2022 x86_64

Webserver: Apache/2.4.54 (Ubuntu) (fpm-fcgi)

[2022-09-29 13:10] ChristophWurst commented on #142
https://github.com/nextcloud/twofactor_webauthn/pull/264 fixes that. the first backport to stable0.3 was bogus.

[2022-09-29 13:53] ChristophWurst commented on #142
Please try v0.3.3

[2022-09-29 14:10] PatrickJosh commented on #142
With v0.3.3, it worked for me. I don't get the error any more. Thank you very much! :smile:

[2022-09-30 05:33] inok16 commented on #142
With v0.3.3, I still have the problem. But it seems that my configuration/state is faulty and/or contains the old u2f provider. The u2f app is not present anymore.
[code]

Any ideas? Thanks in advance!

[2022-09-30 08:06] ChristophWurst commented on #142
@inok16 please read the docs at https://github.com/nextcloud/twofactor_webauthn#migration-from-two-factor-u2f

[2022-09-30 08:15] tbpoetke commented on #233
This bug should be already solved with the latest Major update of the solo2 firmware.
[Relase Notes](https://github.com/solokeys/solo2/releases/tag/2.964.0)

[2022-09-30 08:21] SigLinJo commented on #233
I have updated to the latest version of the solo2 firmware but still got the error while using Chrome. It worked with Firefox thou and authentication works with both...

[2022-09-30 08:33] inok16 commented on #142
yes, I know the documentation, but not at the time I installed webauthn. Thats why I did not migrate from U2F. At some later point, I deinstalled U2F. But as I can see right now, the provider seems still to be there.

Fortunately, 'php occ twofactorauth:cleanup u2f' solved it. Thanks.

[2022-09-30 09:00] tbpoetke commented on #233
@SigLinJo  as long as you dont have the same error message in the server log like me, it's not related to the key length. Can you post the server log from the time you tried to add the key/login?

[2022-09-30 09:28] SigLinJo commented on #233
@tbpoetke ...1406 Data too long for column... Is the error I get also. Didn't bother posting my error because it was identical to yours. At work on mobile now so can't reproduce right now. The reason I commented was that i was surprised the error persisted after firmware update of Solokey2. Tried with several Solokey2 and on two different computers, both running Ubuntu 21.04 thou...

[2022-09-30 09:51] tbpoetke commented on #233
@SigLinJo  did you tried to edit the database like i did to fix the error?

[2022-09-30 09:54] SigLinJo commented on #233
@tbpoetke no, I don't think a manual edit of the database is a fix... I used a workaround with registering the key in Firefox instead.

[2022-09-30 10:00] tbpoetke commented on #233
the developer did the same some time before: #30

[2022-09-30 10:38] SigLinJo commented on #233
Yes, and they pushed an update of the app to increase length of another table value (varying). This time we are having problem with 'public_key_credential_id' wich might need to be addressed in some way. I don't know if it is chrome, Solokey2 or nextcloud webauthn that is doing something strange in this instance, and I'm not experienced enough to find out. I just wanted to bring attention to the e

[2022-09-30 11:54] nursoda commented on #253
Since NC25.0.0-RC1, the colors are reverse again.using Webauthn 1.0.0-beta2
![grafik](https://user-images.githubusercontent.com/8425483/193263969-f02662b2-d42e-4664-a775-c2fea9e2e695.png)

[2022-10-02 12:58] jans23 opened #271 "prefer UserVerification = ask for device PIN"
In Nextcloud, logins via WebAuthn are single-factor authentications and not two-factor authentications. In #41 and #69 UserVerification was set to DISCOURAGED with the reasoning that the WebAuthn authentication is used after a login authentication. However, this reasoning is wrong because when enabling and configuring WebAuthn it is used **instead** of a password login and not after a password log

[2022-10-02 14:50] jans23 commented on #271
I just noticed that I should have created this issue to the server and not the twofactor_webauthn module.

[2022-10-02 14:50] #271 closed

[2022-10-05 22:33] zevlee commented on #263
I can confirm the same error when attempting to register a new key.

[code]

[2022-10-06 06:16] ChristophWurst commented on #263
Duplicate of https://github.com/nextcloud/twofactor_webauthn/issues/233

[2022-10-06 06:16] #263 closed

[2022-10-07 08:50] #193 closed

[2022-10-19 22:11] zevlee commented on #233
I just updated to Nextcloud 25, which comes with v1.0.0 of the Two Factor WebAuthn app. Supposedly, registration should have been fixed according to the release notes. I still have the same problem showing up in the log as before.

[2022-10-20 06:52] ChristophWurst commented on #233
The changelog mentions https://github.com/nextcloud/twofactor_webauthn/pull/144.

[2022-10-24 19:26] derritter88 opened #281 "Unable to remove previous U2F devices"
### Steps to reproduce
1. Migrate from old twofactor_u2f app to twofactor_webauthn
2. Delete old U2F devices to re-register them via webauthn as they support both possiblities (Yubikey 5)

### Expected behaviour
Old U2F should be deleted without any issues.

### Actual behaviour
Unable to be deleted (see logs below)

### Server configuration

**Operating system**: Ubuntu 22.04

**Web server:** Apa

[2022-10-26 08:18] pmhahn opened #282 "Cannot unregister old U2F YubiKey"
### Steps to reproduce
1. Setting -> Security -> 2 Factor Auth
2. Click on "remove"

### Expected behaviour
The key should be removed

### Actual behaviour
The key is **not** removed, not even an error message.

Disabling the key also does not work.

The key was registered when U2F was introduced. After its deprecation I switched to WebAuthn but that key remains.

### Server configuration

**Opera

[2022-10-31 13:51] ChristophWurst commented on #282
Dup of https://github.com/nextcloud/twofactor_webauthn/issues/281

[2022-10-31 13:51] #282 closed

[2022-10-31 14:06] ChristophWurst commented on #281
Could you inspect the AJAX HTTP request and what `id` it sends? It should match a row in `twofactor_webauthn_regs`, specifically the column `public_key_credential_id`.

According to the trace info the row can't be found.

[2022-10-31 14:42] pmhahn commented on #281
For my case #282 I have duplicate rows:
[code]

[2022-10-31 15:08] derritter88 commented on #281
I checked to column `oc_twofactor_u2f_registrations` and was able to find the ID mentioned at my browser console:
Firefox console:
[code]

and as a response the console says:
`Uncaught (in promise)
Object { message: "Request failed with status code 500", name: "AxiosError", code: "ERR_BAD_RESPONSE", config: {…}, request: XMLHttpRequest, response: {…}, stack: "" }`

[2022-10-31 15:09] derritter88 commented on #281
I don't think so but unfortunately I cannot remember.

[2022-10-31 15:11] derritter88 commented on #281
at the colum `oc_twofactor_webauthn_regs` I can see the mentioned key ID 3x.

In general: Is it OK if I drop the U2F table and delete the old U2F entries of the webauthn table?

[2022-11-01 05:57] pmhahn commented on #281
Might have done that but it was a long time ago so I do no longer the details. I darkly remember that I had problems after switching to WebAuthn and might have run the command a 2nd time because it was not working after the 1st invocation.

As I'm not afraid of using raw SQL is it okay to
- purge all (legacy) entries `oc_twofactor_u2f_registrations`
- remove all (old and/or duplicate) entries form

[2022-11-18 22:11] jensb opened #296 "I was able to log in without password. Is this really 2FA?"
### Question

I am using the external_user app on Nextcloud 24 to log users in using their IMAP credentials, which works fine.
When I add WebAuthn as a 2FA option, users can log into their Nextcloud accounts just by providing their login name, without password.
I would like to offer users the WebAuthn **in addition to** the usual login/password prompt, i.e. as a real second factor.
If I understand

[2022-11-19 07:44] ChristophWurst commented on #296
You are using passwordless authentication, aren't you? Those are two concepts. Both use the webauthn technology.

This app does not disable password auth.

[2022-11-19 09:05] jensb commented on #296
No, but - as I see it - it offers only to **replace** password auth, not **add** to it. Correct?

I would like to be able to configure my account to require login and password **and a WebAuthn device**.

I this possible?

[2022-11-19 11:06] ChristophWurst commented on #296
Could you please share a screenshot of your login page?

[2022-11-28 15:46] hendrik1120 opened #297 "NC 25 Safari Webauthn not showing up"
### Steps to reproduce
1. Login to your webauthn protected Nextcloud account with safari
2.
3.
This worked flawlessly before upgrading to NC 25.
Works fine in Chrome

### Expected behaviour
Webauthn popup

### Actual behaviour
nothing

### Server configuration

**Operating system**:
linuxserverio Docker
**Web server:**
nginx
**Database:**
mariadb
**PHP version:**

**Version:** (see admin page)
25.

[2022-11-28 15:57] ChristophWurst commented on #297
Realistically that is the most probable source for an error given that webauthn is handled with JS APIs. Could you please double-check?

[2022-11-28 16:02] hendrik1120 commented on #297
Ok, so because I didn't get anything in the logs I cleared the browser cache from dev tools and after some time it magically worked again. I had this problem for weeks now btw...
But this spawned another now unrelated issue that webauthn fails on the first try and you need to press the retry button to get the popup. I have logs for that now:
[code]

[2022-11-28 16:19] hendrik1120 commented on #297
I expanded the error log a bit in Safari, this should be more useful:

[code]

[2022-11-28 16:22] ChristophWurst commented on #297
That seems odd.

Does webauthn work on other websites?

[2022-11-28 16:32] hendrik1120 commented on #297
Yes, just used it on Cloudflare. Works on the first try there.
Just to clarify, it now also works with Nextcloud, except that it fails on the first try and only works on the second.

Apple probably implemented it differently or added some security requirements, since I had issues with this in the early days of webauthn even with cloudflare.
It doesn't really bother me that much, but if you want to

[2022-11-30 12:16] #297 closed